<!DOCTYPE html>
<html ng-app="MainModule">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
   

	<title></title>



</head>
<body ng-controller="userController">
  
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-lock"></span> Login</h1>

    <form action="/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>


</div>

</div>



  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  	  <script src="js/core.js"></script>
	<script src="js/controllers/main.js"></script> 
	<script src="js/services/main.js"></script> 
  
</body>
</html>

